BOT_TOKEN=YOUR_BOT_TOKEN_HERE

ADMIN_ID=123456789

DATABASE_PATH=database/bot.db

VPN_PANEL_URL=https://your-panel.com

VPN_PANEL_LOGIN=your_login

VPN_PANEL_PASSWORD=your_password

XUI_BASE_URL=http://your-server-ip:panel-port
XUI_USERNAME=your_username
XUI_PASSWORD=your_password
XUI_SUB_BASE_URL=http://your-server-ip:panel-port